<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName">
			<value>${db.driverClassName}</value>
		</property>
		<property name="url">
			<value>${db.url}</value>
		</property>
		<property name="username">
			<value>${db.username}</value>
		</property>
		<property name="password">
			<value>${db.password}</value>
		</property>
		<property name="defaultReadOnly">
			<value>false</value>
		</property>
		<!-- 最大连接数 -->
		<property name="maxActive">
			<value>${db.pool.maxsize}</value>
		</property>
		<!-- 初始化连接数 -->
		<property name="initialSize">
			<value>${db.pool.initsize}</value>
		</property>
		<!--  超时等待时间以毫秒为单位 -->
		<property name="maxWait">
			<value>6000</value>
		</property>
		<!-- 最大空闲连接数 -->
		<property name="maxIdle">
			<value>${db.pool.maxidle}</value>
		</property>
		<!-- 最小空闲连接数 -->
		<property name="minIdle">
			<value>${db.pool.minidle}</value>
		</property>
		<!--  是否在自动回收超时连接的时候打印连接的超时错误 -->
		<property name="logAbandoned">
			<value>true</value>
		</property>
		<!-- 是否自动回收超时连接 -->
		<property name="removeAbandoned">
			<value>true</value>
		</property>
		<!-- 超时时间(以秒数为单位) -->
		<property name="removeAbandonedTimeout">
			<value>60</value>
		</property>
		<!-- 每过timeBetweenEvictionRunsMillis 时间，就会启动一个线程，校验连接池中闲置时间超过minEvictableIdleTimeMillis的连接对象 -->
		<property name="timeBetweenEvictionRunsMillis">
			<value>60000</value>
		</property>
		<property name="minEvictableIdleTimeMillis">
			<value>1800000</value>
		</property>
		<!-- 连接空闲时是否进行有效性验证（即是否还和数据库连通的） -->
		<property name="testWhileIdle">
			<value>true</value>
		</property>
		<!-- 取得连接 -->
		<property name="testOnBorrow">
			<value>true</value>
		</property>
		<!-- 返回连接 -->
		<property name="testOnReturn">
			<value>true</value>
		</property>
		<property name="numTestsPerEvictionRun">
			<value>20</value>
		</property>
		<property name="connectionProperties">
			<value>LoginTimeout=1</value>
		</property>
	</bean>

	<!-- 配置SessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mapperLocations" value="classpath*:com/alan/dm/dao/mapper/*.xml" />
		<property name="plugins">
			<array>
				<bean id="tableSegInterceptor" class="com.alan.dm.dao.plugin.SQLStatisticInterceptor"/>
			</array>
		</property>
	</bean>
	<!-- 声明式事务管理 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- mapper定义 -->
	<bean id="activitistInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.alan.dm.dao.mapper.ActivitistInfoMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="applierInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.alan.dm.dao.mapper.ApplierInfoMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="intentionInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.alan.dm.dao.mapper.IntentionInfoMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="normalInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.alan.dm.dao.mapper.NormalInfoMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="personInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.alan.dm.dao.mapper.PersonInfoMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="prepareInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.alan.dm.dao.mapper.PrepareInfoMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="adminMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.alan.dm.dao.mapper.AdminMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="orgnizationMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.alan.dm.dao.mapper.OrgnizationMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="orgRewardMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.alan.dm.dao.mapper.OrgRewardMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="partyDuesMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.alan.dm.dao.mapper.PartyDuesMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="relationTransferMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.alan.dm.dao.mapper.RelationTransferMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="orgMeetingMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.alan.dm.dao.mapper.OrgMeetingMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="eduTrainingMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.alan.dm.dao.mapper.EduTrainingMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mediaResourceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.alan.dm.dao.mapper.MediaResourceMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="messageMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.alan.dm.dao.mapper.MessageMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
</beans>