<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alan.dm.dao.mapper.ActivitistInfoMapper">

    <sql id="A_TABLE">tb_party_activist</sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="activitistInfo.id">
        INSERT INTO
        <include refid="A_TABLE"/>
        (evaluationTime,evaluationContent,meetTime,meetContent,directorIds,recorded,createTime,quntuan,talked,profession,degree)
        VALUES(#{activitistInfo.evaluationTime},#{activitistInfo.evaluationContent},#{activitistInfo.meetTime},#{activitistInfo.meetContent},#{activitistInfo.directorIds},
        #{activitistInfo.recorded},#{activitistInfo.createTime},#{activitistInfo.quntuan},#{activitistInfo.talked},#{activitistInfo.profession},#{activitistInfo.degree})
    </insert>

    <insert id="update">
        update
        <include refid="A_TABLE"/>
        set
        evaluationTime=#{activitistInfo.evaluationTime},evaluationContent=#{activitistInfo.evaluationContent},
        meetTime=#{activitistInfo.meetTime},meetContent=#{activitistInfo.meetContent},directorIds=#{activitistInfo.directorIds},
        recorded=#{activitistInfo.recorded},createTime=#{activitistInfo.createTime},
        quntuan=#{activitistInfo.quntuan},talked=#{activitistInfo.talked},profession=#{activitistInfo.profession},
        degree=#{activitistInfo.degree},updateTime=#{activitistInfo.updateTime}
        where id=#{activitistInfo.id}
    </insert>

    <select id="getById" resultType="com.alan.dm.entity.ActivitistInfo">
        select *
        FROM <include refid="A_TABLE" />
        WHERE id=#{id}
    </select>

    <delete id="delete">
        DELETE
        FROM  <include refid="A_TABLE" />
        WHERE id=#{id}
    </delete>
</mapper>