<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alan.dm.dao.mapper.ApplierInfoMapper">

    <sql id="A_TABLE">tb_party_applier</sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="applier.id">
        INSERT INTO
        <include refid="A_TABLE"/>
        (createTime,applyTime,talkTime,talkContent,talkerIds,profession,degree)
        VALUES(#{applier.createTime},#{applier.applyTime},#{applier.talkTime},#{applier.talkContent},#{applier.talkerIds},#{applier.profession},#{applier.degree})
    </insert>

    <update id="update">
        update <include refid="A_TABLE"/>
        SET applyTime=#{applier.applyTime},talkerIds=#{applier.talkerIds},talkTime=#{applier.talkTime},talkContent=#{applier.talkContent},profession=#{applier.profession},degree=#{applier.degree},updateTime=#{applier.updateTime}
        where id=#{applier.id}
    </update>

    <select id="getById" resultType="com.alan.dm.entity.ApplierInfo">
        select *
        FROM <include refid="A_TABLE" />
        WHERE id=#{applierId}
    </select>

    <delete id="delete">
        DELETE
        FROM  <include refid="A_TABLE" />
        WHERE id=#{applierId}
    </delete>
</mapper>