<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alan.dm.dao.mapper.EduTrainingMapper">

    <sql id="T_TABLE">party_training</sql>
    <sql id="ORG_TABLE">tb_orgnization</sql>
    <sql id="RESOURE_TABLE">tb_train_resource</sql>

    <resultMap id="ORG_INFO" type="com.alan.dm.entity.Orgnization">
        <id property="id" column="orgId"/>
        <result property="name" column="orgName"/>
    </resultMap>

    <resultMap id="T_INFO" type="com.alan.dm.entity.EduTraining">
        <id property="id" column="id" />
        <result property="title" column="title"/>
        <result property="startTime" column="startTime"/>
        <result property="endTime" column="endTime"/>
        <result property="createTime" column="createTime"/>
        <association property="organization" column="orgId" javaType="com.alan.dm.entity.Orgnization" resultMap="ORG_INFO"/>
    </resultMap>

    <resultMap id="T_R_INFO" type="com.alan.dm.entity.EduTraining">
        <id property="id" column="id" />
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="startTime" column="startTime"/>
        <result property="endTime" column="endTime"/>
        <result property="createTime" column="createTime"/>
        <collection property="resourceList" ofType="com.alan.dm.entity.Resource">
            <id property="id" column="resourceId"/>
            <result property="name" column="name"/>
            <result property="resourcePath" column="resourcePath"/>
            <result property="realName" column="resourceName"/>
        </collection>
    </resultMap>

    <select id="getById" resultMap="T_R_INFO">
        select
        A.id,
        A.title,
        A.startTime,
        A.endTime,
        A.orgId,
        A.content,
        A.createTime,
        R.id as resourceId,
        R.resourcePath as resourcePath,
        R.name as resourceName
        from <include refid="T_TABLE"/> A
        left join <include refid="RESOURE_TABLE"/> R
        on A.id=R.trainId
        where A.id=#{id}
    </select>

    <insert id="insert" parameterType="com.alan.dm.entity.EduTraining" useGeneratedKeys="true"
            keyColumn="id" keyProperty="training.id">
        INSERT INTO <include refid="T_TABLE"/>
        (title,orgId,startTime,endTime,content,createTime)
        VALUES(#{training.title},#{training.organization.id},#{training.startTime},#{training.endTime},#{training.content},#{training.createTime})
    </insert>

    <insert id="insertResource"  useGeneratedKeys="true"
            keyColumn="id" keyProperty="resource.id">
        INSERT INTO <include refid="RESOURE_TABLE"/>
        (trainId,name,resourcePath,createTime)
        VALUES(#{resource.trainId},#{resource.realName},#{resource.resourcePath},#{resource.createTime})
    </insert>

    <select id="getByCondition" resultMap="T_INFO">
        SELECT
        A.id,
        A.title,
        A.startTime,
        A.endTime,
        A.orgId,
        A.content,
        A.createTime,
        O.id as orgId,
        O.name as orgName
        FROM  <include refid="T_TABLE" /> A
        JOIN <include refid="ORG_TABLE"/> O ON A.orgId=O.id
        <where>
            <if test="condition.orgList != null">
                A.orgId in
                <foreach collection="condition.orgList" index="index" item="orgList" open="("
                         separator="," close=")">
                    #{orgList}
                </foreach>
            </if>
        </where>
        ORDER BY id DESC
        <if test="page!=null">
            LIMIT #{page.current}, #{page.size}
        </if>
    </select>

    <select id="countByCondition" resultType="Integer">
        SELECT count(*)
        FROM  <include refid="T_TABLE" /> A
        JOIN <include refid="ORG_TABLE"/> O ON A.orgId=O.id
        <where>
            <if test="condition.orgList != null">
                A.orgId in
                <foreach collection="condition.orgList" index="index" item="orgList" open="("
                         separator="," close=")">
                    #{orgList}
                </foreach>
            </if>
        </where>
    </select>

    <delete id="delete">
        DELETE
        FROM <include refid="T_TABLE"/>
        WHERE id=#{training.id}
    </delete>

</mapper>