<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alan.dm.dao.mapper.MediaResourceMapper">

    <sql id="TABLE">tb_media_resource</sql>


    <insert id="insert" parameterType="com.alan.dm.entity.MediaResource" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO <include refid="TABLE"/>
        (name, type, forbidden, uploadDate, description, resourcePath,createTime)
        VALUES(#{name},#{type},#{forbidden},#{uploadDate},#{description},#{resourcePath},#{createTime})
    </insert>

    <update id="update" parameterType="com.alan.dm.entity.MediaResource">
        update
        <include refid="TABLE" />
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="type != 0">type=#{type},</if>
            forbidden=#{forbidden},
            <if test="uploadDate != null">uploadDate=#{uploadDate},</if>
            <if test="description != null">description=#{description},</if>
            <if test="nativePlace != null">nativePlace=#{nativePlace},</if>
            <if test="resourcePath != null">resourcePath=#{resourcePath},</if>
            <if test="updateTime != null">updateTime=#{updateTime}</if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="com.alan.dm.entity.MediaResource">
        delete from
        <include refid="TABLE" />
        where id=#{id}
    </delete>

    <select id="getMedias" resultMap="com.alan.dm.entity.MediaResource">
        select * from
        <include refid="TABLE" />
        <where>
            <if test="mediaType != 0">mediaType=#{con.mediaType}</if>
            <if test="mediaName != null">AND mediaName LIKE #{con.mediaName}</if>
            AND forbidden=#{con.forbidden}
        </where>
        ORDER BY createTime DESC LIMIT #{page.page}, #{page.limit}
    </select>

    <select id="findOne"  parameterType="int" resultMap="com.alan.dm.entity.MediaResource">
        select * from
        <include refid="TABLE" />
        where id=#{id}
    </select>
</mapper>