<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alan.dm.dao.mapper.NormalInfoMapper">

    <sql id="A_TABLE">tb_party_normal</sql>
    <sql id="PERSON_TABLE">tb_person</sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="normalInfo.id">
        INSERT INTO
        <include refid="A_TABLE"/>
        (approval,branchApproval,schoolApproval,applyTime,createTime,profession,degree,meetTime,meetContent)
        VALUES(#{normalInfo.approval},#{normalInfo.branchApproval},#{normalInfo.schoolApproval},#{normalInfo.applyTime},#{normalInfo.createTime},
        #{normalInfo.profession},#{normalInfo.degree},#{normalInfo.meetTime},#{normalInfo.meetContent})
    </insert>

    <insert id="update">
        update
        <include refid="A_TABLE"/>
        SET
        approval=#{normalInfo.approval},branchApproval=#{normalInfo.branchApproval},schoolApproval=#{normalInfo.schoolApproval},applyTime=#{normalInfo.applyTime},
        updateTime=#{normalInfo.updateTime},
        profession=#{normalInfo.profession},degree=#{normalInfo.degree},meetTime=#{normalInfo.meetTime},meetContent=#{normalInfo.meetContent}
        where id=#{normalInfo.id}
    </insert>

    <select id="getById" resultType="com.alan.dm.entity.NormalInfo">
        select *
        FROM <include refid="A_TABLE" />
        WHERE id=#{normalId}
    </select>

    <delete id="delete">
        DELETE
        FROM  <include refid="A_TABLE" />
        WHERE id=#{normalInfo.id}
    </delete>

    <select id="countByOrgWithTime" resultType="Integer">
        select count(*)
        from <include refid="PERSON_TABLE" /> A
        join <include refid="A_TABLE" /> P ON A.normalInfoId=P.id
        <where>
            <if test="orgIdList != null">
                A.orgId in
                <foreach collection="orgIdList" index="index" item="orgList" open="("
                         separator="," close=")">
                    #{orgList}
                </foreach>
            </if>
            AND P.createTime BETWEEN #{start} AND #{end}
        </where>
    </select>
</mapper>