<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alan.dm.dao.mapper.PartyDuesMapper">

    <sql id="TABLE">tb_party_dues_pay</sql>


    <insert id="insert" parameterType="com.alan.dm.entity.PartyDuesPay" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO <include refid="TABLE"/>
        organizationId, partyMemberId, payStartDate, payEndDate, payDate, createTime)
        VALUES(#{organizationId},#{partyMemberId},#{payStartDate},#{payEndDate},
        #{payDate},#{createTime})
    </insert>

    <update id="update" parameterType="com.alan.dm.entity.PartyDuesPay">
        update
        <include refid="TABLE" />
        <set>
            <if test="organizationId != 0">organizationId=#{organizationId},</if>
            <if test="partyMemberId != 0">partyMemberId=#{partyMemberId},</if>
            <if test="payStartDate != null">payStartDate=#{payStartDate},</if>
            <if test="payEndDate != null">payEndDate=#{payEndDate},</if>
            <if test="payDate != null">payDate=#{payDate},</if>
            <if test="updateTime != null">updateTime=#{updateTime}</if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="com.alan.dm.entity.PartyDuesPay">
        delete from
        <include refid="TABLE" />
        where id=#{id}
    </delete>


    <select id="getPartyDuesPay" resultMap="com.alan.dm.entity.PartyDuesPay">
        select * from
        <include refid="TABLE" />
        <where>
            <if test="organizationId != 0">organizationId=#{con.organization}</if>
            <if test="name != null">AND name LIKE #{con.name}</if>
            <if test="idCardNo != null">AND idCardNo=#{con.idCardNo}</if>
            <if test="memberId != null">AND memberId=#{con.memberId}</if>
            <if test="memberType != 0">AND memberType=#{con.memberType}</if>
            <if test="education != 0">AND education=#{con.education}</if>
            <if test="sex != 0">AND sex=#{con.sex}</if>
            <if test="stats != 0">AND stats=#{con.stats}</if>
        </where>
        ORDER BY createTime DESC LIMIT #{page.page}, #{page.limit}
    </select>



    <select id="findOne"  parameterType="int" resultMap="com.alan.dm.entity.PartyDuesPay">
        select * from
        <include refid="TABLE" />
        where id=#{id}
    </select>
</mapper>