<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alan.dm.dao.mapper.PersonInfoMapper">

    <sql id="PERSON_TABLE">tb_person</sql>
    <sql id="ADMIN_TABLE">tb_admin</sql>
    <sql id="COMMITTEE_TABLE">tb_org_committee</sql>

    <!--插入数据，暂时不处理其他信息，只保存基本信息-->
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="person.id">
        INSERT INTO
        <include refid="PERSON_TABLE"/>
        (orgId,name,status,type,number,idNumber,hometown,sex,nation,degree,password,birth,createTime,personDesc,applierInfoId,activitistInfoId,intentionInfoId,prepareInfoId,normalInfoId,profession)
        VALUES(#{person.orgnization.id},#{person.name},#{person.status},#{person.type},
        #{person.number},#{person.idNumber},#{person.hometown},#{person.sex},#{person.nation},#{person.degree},#{person.password},#{person.birth},#{person.createTime},
        #{person.personDesc},#{person.applierInfoId},#{person.activitistInfoId},#{person.intentionInfoId},#{person.prepareInfoId},#{person.normalInfoId},#{person.profession})
    </insert>

    <!-- 更新数据，暂时只有状态修改-->
    <update id="update">
        UPDATE <include refid="PERSON_TABLE"/>
        SET
        orgId=#{person.orgId},name=#{person.name},status=#{person.status},type=#{person.type},number=#{person.number},
        idNumber=#{person.idNumber},hometown=#{person.hometown},sex=#{person.sex},nation=#{person.nation},degree=#{person.degree},
        birth=#{person.birth},personDesc=#{person.personDesc},applierInfoId=#{person.applierInfoId},activitistInfoId=#{person.activitistInfoId},
        intentionInfoId=#{person.intentionInfoId},prepareInfoId=#{person.prepareInfoId},normalInfoId=#{person.normalInfoId},profession=#{person.profession},
        updateTime=#{person.updateTime}
        WHERE id=#{person.id}
    </update>

    <update id="updatePass">
        UPDATE <include refid="PERSON_TABLE"/>
        SET password=#{person.password},updateTime=#{person.updateTime},passUpdateTime=#{person.passUpdateTime}
        WHERE id=#{person.id}
    </update>

    <!-- 删除操作-->
    <delete id="delete">
        DELETE  FROM <include refid="PERSON_TABLE"/>
        WHERE id=#{person.id}
    </delete>

    <!-- 根据条件，分页获取人员信息-->
    <select id="getByCondition" resultType="com.alan.dm.entity.Person">
        SELECT *
        FROM  <include refid="PERSON_TABLE" />
        <where>
            <if test="condition.orgList != null">
                orgId in
                <foreach collection="condition.orgList" index="index" item="orgList" open="("
                         separator="," close=")">
                    #{orgList}
                </foreach>
            </if>
            <if test="condition.status != null">
                AND status in
                <foreach collection="condition.status" index="index" item="status" open="("
                         separator="," close=")">
                    #{status}
                </foreach>
            </if>
            <if test="condition.number != null">
                <bind name="patternNumber" value="condition.number+ '%'" />
                AND number LIKE #{patternNumber}
            </if>
            <if test="condition.name != null">
                <bind name="patternName" value="condition.name+ '%'" />
                AND name LIKE #{patternName}
            </if>
        </where>
        ORDER BY updateTime desc,createTime desc
        <if test="page!=null">
            LIMIT #{page.current}, #{page.size}
        </if>
    </select>

    <select id="countByCondition" resultType="Integer">
        select count(*)
        FROM  <include refid="PERSON_TABLE" />
        <where>
            <if test="condition.orgList != null">
                orgId in
                <foreach collection="condition.orgList" index="index" item="orgList" open="("
                         separator="," close=")">
                    #{orgList}
                </foreach>
            </if>
            <if test="condition.status != null">
                AND status in
                <foreach collection="condition.status" index="index" item="status" open="("
                         separator="," close=")">
                    #{status}
                </foreach>
            </if>
            <if test="condition.number != null">
                <bind name="patternNumber" value="condition.number+ '%'" />
                AND number LIKE #{patternNumber}
            </if>
            <if test="condition.name != null">
                <bind name="patternName" value="condition.name+ '%'" />
                AND name LIKE #{patternName}
            </if>
        </where>
    </select>

    <select id="getByNumber" resultType="com.alan.dm.entity.Person">
        SELECT *
        FROM  <include refid="PERSON_TABLE" />
        WHERE number=#{number}
    </select>

    <select id="getById" resultType="com.alan.dm.entity.Person">
        SELECT *
        FROM  <include refid="PERSON_TABLE" />
        WHERE id=#{id}
    </select>

    <select id="getAdminCandidateList" resultType="com.alan.dm.entity.Person">
        SELECT *
        FROM  <include refid="PERSON_TABLE" />
        <where>
            <if test="condition.orgList != null">
                orgId in
                <foreach collection="condition.orgList" index="index" item="orgList" open="("
                         separator="," close=")">
                    #{orgList}
                </foreach>
            </if>
            and status=5
            and number not in(
              select schoolNumber
              from <include refid="ADMIN_TABLE" />
            )
        </where>
        ORDER BY updateTime desc,createTime desc
        <if test="page!=null">
            LIMIT #{page.current}, #{page.size}
        </if>
    </select>

    <select id="getCommitteeCandidateList" resultType="com.alan.dm.entity.Person">
        SELECT *
        FROM  <include refid="PERSON_TABLE" />
        <where>
            <if test="condition.orgList != null">
                orgId in
                <foreach collection="condition.orgList" index="index" item="orgList" open="("
                separator="," close=")">
                    #{orgList}
                </foreach>
            </if>
            <if test="condition.number != null">
                <bind name="patternName" value="condition.number+ '%'" />
                AND number LIKE #{patternName}
            </if>
            and status=9
            and id not in(
            select distinct(personId)
            from <include refid="COMMITTEE_TABLE" />
            )
        </where>
        ORDER BY createTime DESC
        <if test="page!=null">
            LIMIT #{page.current}, #{page.size}
        </if>
    </select>
</mapper>