<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alan.dm.dao.mapper.PrepareInfoMapper">

    <sql id="A_TABLE">tb_party_prepare</sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="prepareInfo.id">
        INSERT INTO
        <include refid="A_TABLE"/>
        (approval,branchApproval,schoolApproval,application,meetTime,meetContent,createTime)
        VALUES(#{prepareInfo.approval},#{prepareInfo.branchApproval},#{prepareInfo.schoolApproval},#{prepareInfo.application},#{prepareInfo.meetTime},#{prepareInfo.meetContent},#{prepareInfo.createTime})
    </insert>

    <select id="getById" resultType="com.alan.dm.entity.PrepareInfo">
        select *
        FROM <include refid="A_TABLE" />
        WHERE id=#{prepareId}
    </select>

    <delete id="delete">
        DELETE
        FROM  <include refid="A_TABLE" />
        WHERE id=#{prepareInfo.id}
    </delete>

</mapper>