<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alan.dm.dao.mapper.PrepareInfoMapper">

    <sql id="A_TABLE">tb_party_prepare</sql>
    <sql id="PERSON_TABLE">tb_person</sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="prepareInfo.id">
        INSERT INTO
        <include refid="A_TABLE"/>
        (approval,branchApproval,schoolApproval,application,meetTime,meetContent,createTime,profession,degree,yushen,publiced)
        VALUES(#{prepareInfo.approval},#{prepareInfo.branchApproval},#{prepareInfo.schoolApproval},#{prepareInfo.application},#{prepareInfo.meetTime},#{prepareInfo.meetContent},#{prepareInfo.createTime},#{prepareInfo.profession},#{prepareInfo.degree},#{prepareInfo.yushen},#{prepareInfo.publiced})
    </insert>

    <insert id="update">
        update
        <include refid="A_TABLE"/>
        SET
        approval=#{prepareInfo.approval},branchApproval=#{prepareInfo.branchApproval},schoolApproval=#{prepareInfo.schoolApproval},application=#{prepareInfo.application},
        meetTime=#{prepareInfo.meetTime},meetContent=#{prepareInfo.meetContent},updateTime=#{prepareInfo.updateTime},profession=#{prepareInfo.profession},degree=#{prepareInfo.degree},
        yushen=#{prepareInfo.yushen},publiced=#{prepareInfo.publiced}
        where id=#{prepareInfo.id}
    </insert>

    <select id="getById" resultType="com.alan.dm.entity.PrepareInfo">
        select *
        FROM <include refid="A_TABLE" />
        WHERE id=#{prepareId}
    </select>

    <delete id="delete">
        DELETE
        FROM  <include refid="A_TABLE" />
        WHERE id=#{prepareInfo.id}
    </delete>

    <select id="countByOrgWithTime" resultType="Integer">
        select count(*)
        from <include refid="PERSON_TABLE" /> A
        join <include refid="A_TABLE" /> P ON A.prepareInfoId=P.id
        <where>
            <if test="orgIdList != null">
                A.orgId in
                <foreach collection="orgIdList" index="index" item="orgList" open="("
                         separator="," close=")">
                    #{orgList}
                </foreach>
            </if>
            AND P.createTime BETWEEN #{start} AND #{end}
        </where>
    </select>

</mapper>